main {
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    flex-direction: column;
}
section#header {
    width: 90vw;
    max-width: 40rem;
    margin: 1rem auto;
}
nav#global-nav {
    width: 90vw;
    margin: 1rem auto 0 auto;
}
article.page {
    padding: 0;
    margin: 0 auto;
    max-width: 50rem;

}
footer {
    padding:.5rem 1rem;
}
@media screen and (min-width: 900px) {
    header {
        display: flex;
        flex-direction: row;
    }
    section#header {
        width: 30%;
    }
    nav#global-nav {
        width: 70%;
    }
}